.container {
  margin-top: 50px;
}
.kategorija{
  background: green;
  width: 70px;
  color: white;
  font-size: 15px;
  font-weight: bold;

}
.col-md-7 h2 {
  color: #555;
}
.price {
  color: #FE980F;
  font-size: 26px;
  font-weight: bold;
  padding-top: 20px;
}
input {
  border: 1px solid #ccc;
  font-weight: bold;
  height: 33px;
  text-align: center;
  width: 30px;
}
.cart {
  background: #FE980F;
  color: #FFFFFF;
  font-size: 25px;
  margin-left: 20px;
}
.carousel-inner{
  border-radius: 10px;
}
.material-icons {
  color: green;
  font-size: 32px;
}
.clear {
  color: red;
}
.kolicina {
  font-weight: 800;
  font-size: 38px;
}
.normal-text {
  font-size: 20px;
}
.icon {
  margin-right: 10px;
  margin-left: 10px;
}
.green {
  color: green;
}


/* slicni artikli */

.product-grid .product-image{
  overflow: hidden;
  position: relative;
}
.product-grid .product-image:before{
  content: "";
  background: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.4s ease-out 0s;
}
.product-grid:hover .product-image:before{ opacity: 1; }
.product-grid .product-image a{ display: block; }
.product-grid .product-image img{
  width: 100%;
  height: auto;
}
.product-image .pic-1{
  opacity: 1;
  backface-visibility: hidden;
  transition: all 0.4s ease-out 0s;
}
.product-grid:hover .product-image .pic-1{ opacity: 0; }
.product-image .pic-2{
  width: 100%;
  height: 100%;
  opacity: 0;
  backface-visibility: hidden;
  transform: scale(3);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.4s ease-out 0s;
}
.product-grid:hover .product-image .pic-2 {
  opacity: 1;
  transform: scale(1);
}
.product-image .product-trend-label,
.product-image .product-discount-label{
  content: "";
  color: #fff;
  background-color: #2ecc71;
  opacity: .6;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 0 7px;
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 3;
}
.product-image .product-discount-label{
  background-color: var(--main-color);
  left: auto;
  right: 12px;
}
.product-grid .social {
  padding: 0;
  margin: 0;
  list-style: none;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 4;
}
.product-grid .social li {
  margin: 0 0 12px;
  opacity: 0;
  transform: translateX(-60px);
  transition: transform .3s ease-out 0s;
}
.product-grid:hover .social li {
  opacity: 1;
  transform: translateX(0);
}


.product-grid .social li button{
  color:white;
  font-weight: bold;
}
.product-grid .product-content{
  padding: 12px 0;
  font-size: 125px;
}
.product-grid .title{
  font-size: 25px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0 0 5px;
}
.product-grid .title a{ color: #959595; }
.product-grid .title a:hover{ color: var(--main-color); }
.product-grid .price{
  color: #333;
  font-size: 18px;
  font-weight: 400;
}
.product-grid .price span{
  color: #333;
  text-decoration: line-through;
  margin-right: 3px;
}
.product-grid .price.discount{ color: var(--main-color); }
@media only screen and (max-width:990px){
  .product-grid{ margin-bottom: 30px; }
}
.container {
  margin-top: 30px;
  margin-bottom: 30px;
}
.button-dodaj {
  border-radius: 5px;
  background: black;
}

.filter{
  margin-bottom: 10px;
  /* border: 1px solid black; */
}
.filter .search {
  float: left;
  height: 100%;
  width: 70%;

  /* border: 1px solid red; */
}
.filter .sort-cena {
  float: right;
  height: 100%;
  width: 15%;
  border-left: 1px solid black;
  /* border: 1px solid green; */
}
.filter .sort-naziv {
  float: right;
  height: 100%;
  width: 15%;
  border-left: 1px solid black;
  text-align: center;
  /* border: 1px solid blue; */
}
.filter .sort-naziv:hover{
  font-weight: bold;
}
.filter .sort-cena:hover{
  font-weight: bold;
}
.filter .search-input {
  width: 50%;
  height: 87%;
  margin-top: 2px;
  border-radius: 3px;
  border: 1.5px solid blue;
  color: blue;
}
