<!-- 
<div class="container">
    <div class="card">
      <table class="table table-striped">
        <thead style="background-color:#72AEC6;color: white;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">id</th>
            <th scope="col">Naziv aranzmana</th>
            <th scope="col">Cena</th>
            <th scope="col">Broj noci</th>
            <th scope="col">Prijava</th>
            <th scope="col">Odjava</th>
            <th scope="col">Hotel</th>
            <th scope="col">Broj zvezdica</th>
            <th scope="col">Izmena</th>
            <th scope="col">Rezervacija</th>
  
  
  
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let arrangement of arrangementsArray; let i = index">
            <th scope="row">{{i+1}}</th>
            <th scope="row" >{{arrangement.aranzman_id}}</th>
            <td scope="row">{{arrangement.naziv_aranzmana}}</td>
            <td scope="row">{{arrangement.cena}}</td>
            <td scope="row">{{arrangement.broj_noci}}</td>
            <td scope="row">{{arrangement.prijava}}</td>
            <td scope="row">{{arrangement.odjava}}</td>
            <td scope="row">{{arrangement.naziv_hotela}}</td>
            <td scope="row">{{arrangement.broj_zvezdica}}</td>
            <td scope="row"><a href="#" class="btn login_btn" (click)="openUpdateArrangementPage()">Izmeni aranzman</a></td>
            <td scope="row"> <a href="#" class="btn login_btn">Rezervisi</a></td>
  
  
          </tr>
        </tbody>
      </table>
    </div>
  </div>
   -->