/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Numans');

body {
  background-origin: padding-box;
  background: transparent;
  z-index: -5;

}




html{
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), transparent),url("assets/pozadina.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.component-class {
  background: #fff;
  border-radius: 2px;
}

.component-shadow {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.component-class hr {
  color: red;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
